:root {
  --header-bg-color: #3a3a3a;
}

.code,
code {
  padding: 0 0.25rem;
  background: #eee;
  border-radius: 3px;
  margin-right: 0.5rem;
  font-family: monospace;
  display: inline-block;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  line-height: 2.35rem;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 1.7;
  color: #444;
  /*border-top: 10px solid #06395a;*/
  /*padding-top: 2rem;*/
  font-family: system-ui,BlinkMacSystemFont,-apple-system,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  background: #fafafa;
  
  padding-top: 4rem; /* reason: fixed navbar on top */
}

a {
  color: #009982;
}
a:hover,
a:active {
  color: #00c2a5;
}

ul {
  list-style: none;
  padding-inline-start: 2rem;
}
li {
  position: relative;
}
ul li:before {
  content: url(/img/check.svg);
  margin-top: 3px;
  margin-left: -26px;
  position: absolute;
  left: 0;
  top: 0;
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  color: #666;
  display: block;
  padding: 1.5rem;
  font-size: 1rem;
}
